* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #f0f0f0; */
    object-fit: contain;
    scrollbar-width: none;

    /* Variable declarations */
    --primary-font-color: #fdc80a;
    --bg-img-alpha: 0.4;
}

.text-yellow {
    color: var(--primary-font-color);
}

.btn-read-more {
    background-color: var(--primary-font-color);
    padding: 0.8rem 2rem;
}

main > section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 109vh;
    color: #fff;
    padding: 0 5%;

}


/* #region ### hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    background-image: url(../assets/img/alaska/pexels-adi-k-182036-28909957.jpg);
}

.hero .logo {
    margin-top: 8rem;
    width: 5rem;
    min-height: 50px;
}

.hero h1 {
    font-size: 10rem;
    font-weight: 500;
}

.hero i {
    border: 3px red solid;
    font-size: 8rem;
    margin-bottom: 8rem;
}

.hero i:hover {
    cursor: pointer;
}
/* #endregion */


/* #region ### intro */
.intro {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-image: url(../assets/img/alaska/pexels-dianne-maddox-2069639-3695720.jpg);
}

.intro .left {
    font-size: 5rem;
    width: 30%;
}

.intro .right {
    width: 45%;
}
/* #endregion */


/* #region ### activities */
.activities {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    /* Darkening from https://www.geeksforgeeks.org/how-to-darken-an-image-using-css/ */
    background-image: linear-gradient(rgba(0, 0, 0, var(--bg-img-alpha)), rgba(0, 0, 0, var(--bg-img-alpha))), url(../assets/img/alaska/pexels-frans-van-heerden-201846-688890.jpg);
}

.activities h2 {
    width: 45%;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
}

.activities .gallery {
    display: flex;
    justify-content: center;
    /* border: 3px solid black; */
    width: 80%;
}

.activities .gallery .container {
    position: relative;

    height: 25rem;
    width: 30%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.activities .gallery .container .text {
    position: absolute;
    width: 100%;

    bottom: 0;
    /* padding-bottom: .5rem; */
    padding-left: 1rem;
    /* border: #fff solid 3px; */
    background-image: linear-gradient(transparent, #2e4461);
}

.activities .gallery .container h3 {
    font-size: 1.5rem;
}

.activities .gallery .container i {
    font-size: 4rem;
}

#cont1 {
    background-image: url(../assets/img/alaska/pexels-exposureonestudios-2414095.jpg);
}

#cont2 {
    margin: 0 3%;
    background-image: url(../assets/img/alaska/pexels-gasparzaldo-6778616.jpg);
}

#cont3 {
    background-image: url(../assets/img/alaska/pexels-gasparzaldo-6779117.jpg);
}
/* #endregion */


/* #region ### recommendations */
.recommendations {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    background-image: linear-gradient(rgba(0, 0, 0, var(--bg-img-alpha)), rgba(0, 0, 0, var(--bg-img-alpha))), url(../assets/img/alaska/pexels-jeremyhann-2759303.jpg);
}

.recommendations .title {
    position: relative;
    width: 45%;
    height: 70%;
    /* border: #000 solid 3px; */
}

.recommendations .title h2 {
    position: absolute;
    font-size: 5rem;
    top: 0;

}

.recommendations .text {
    width: 45%;
    font-size: 1.1rem;
    line-height: 1.8;
}

.recommendations .text h3 {
    margin: 1rem 0;
    font-size: 2rem;
}
/* #endregion */

/* #region ### stats */
.stats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    background-image: url(../assets/img/alaska/pexels-pixabay-206776.jpg);
}

.stats .wrapper {
    /* Div is always square: https://stackoverflow.com/a/19068538 */
    background-color: #000000;
    height: 0;
    width: 20%;
    padding: 10% 0;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.stats .wrapper > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.stats .wrapper > div h3 {
    font-size: 5.5rem;
    margin-bottom: 1.5rem;
}

.stats .wrapper > div p {
    font-size: 1.2rem;
}
/* #endregion */

/* #region ### gallery */
/* Need the immediate child of main to not confuse */
main > .gallery {
    display: flex;
    align-items: center;
    padding: 0;
    
    background-image: linear-gradient(rgba(0, 0, 0, var(--bg-img-alpha)), rgba(0, 0, 0, var(--bg-img-alpha))), url(../assets/img/alaska/pexels-sara-loeffler-2369291-4027720.jpg);
}

main > .gallery img {
    height: 100%;
    width: 25%;
    /* border: #000000 solid 3px; */

    object-fit: cover;
}
/* #endregion */