* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #f0f0f0; */
    overflow: auto;
    object-fit: contain;
    scrollbar-width: none;

    /* Variable declarations */
    --primary-font-color: #fdc80a;
    --bg-img-alpha: 0.4;
}

.text-yellow {
    color: var(--primary-font-color);
}

.btn-read-more {
    background-color: var(--primary-font-color);
    padding: 0.8rem 2rem;
}

main > section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 109vh;
    color: #fff;
    padding: 0 5%;

}


/* #region ### hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    background-image: url(../assets/img/alaska/pexels-adi-k-182036-28909957.jpg);
}

.hero .logo {
    margin-top: 8rem;
    width: 5rem;
    min-height: 50px;
}

.hero h1 {
    font-size: 10rem;
    font-weight: 500;
}

.hero i {
    border: 3px red solid;
    font-size: 8rem;
    margin-bottom: 8rem;
}

.hero i:hover {
    cursor: pointer;
}
/* #endregion */


/* #region ### intro */
.intro {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-image: url(../assets/img/alaska/pexels-dianne-maddox-2069639-3695720.jpg);
}

.intro .left {
    font-size: 5rem;
    width: 30%;
}

.intro .right {
    width: 45%;
}
/* #endregion */



/* #region ### activities */
.activities {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    /* Darkening from https://www.geeksforgeeks.org/how-to-darken-an-image-using-css/ */
    background-image: linear-gradient(rgba(0, 0, 0, var(--bg-img-alpha)), rgba(0, 0, 0, var(--bg-img-alpha))), url(../assets/img/alaska/pexels-frans-van-heerden-201846-688890.jpg);
}

.activities h2 {
    width: 45%;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
}

.activities .gallery {
    display: flex;
    justify-content: center;
    /* border: 3px solid black; */
    width: 80%;
}

.activities .gallery .container {
    position: relative;

    height: 30rem;
    width: 30%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.activities .gallery .container .text {
    position: absolute;
    width: 100%;

    bottom: 0;
    /* padding-bottom: .5rem; */
    padding-left: 1rem;
    /* border: #fff solid 3px; */
    background-image: linear-gradient(transparent, #2e4461);
}

.activities .gallery .container h3 {
    font-size: 1.5rem;
}

.activities .gallery .container i {
    font-size: 4rem;
}

#cont1 {
    background-image: url(../assets/img/alaska/pexels-exposureonestudios-2414095.jpg);
}

#cont2 {
    margin: 0 3%;
    background-image: url(../assets/img/alaska/pexels-gasparzaldo-6778616.jpg);
}

#cont3 {
    background-image: url(../assets/img/alaska/pexels-gasparzaldo-6779117.jpg);
}
/* #endregion */