* {
  font-family: "Times New Roman", Courier, monospace;
  /* padding: 0; */
  /*       top, right, btm, left */
  /* padding: 3px 8px 4px 2px; */

  /*        y axis, x axis */
  /* padding: 20% 50% */

  /*       top, sides, bottom */
  /* padding: 1px 20% 4px; */

  /* Using these padding-* is good for beginners, but above is cleaner. */
  /* padding-left: 30%; */

  /* Padding also applies to margin */
  /* margin: 0; */

  /*      width, style, color*/
  border: 3px, solid, salmon;
  /* How rounded your borders is */
  border-radius: 5px;
}

.news_event {
  padding: 10px;
}

.div_news_title {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.news_title_text {
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  color: #232323;
}

.div_media_wrapper {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly; /* space-around, space-between, space-evenly */
  align-items: center;
  flex-wrap: wrap;
}

.news_container {
  /* All variables are global */
  --primary-background-color: #def2c0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(142, 124, 5);
}

.news_media {
  padding: 10px;
  width: 50px;
  max-width: 100px;
  height: 50px;
  max-height: 100px;
  margin-bottom: 30px;

  /* Using variables */
  color: var(--primary-background-color);
  background-image: url("../assets/img/pexels-nikitapishchugin-27489977.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.news_text > a > h3 {
  padding: 10px;
  color: blue;
  font-size: 18px;
  font-weight: 300;
}

body {
  background-color: aquamarine;

  /* First way to center content */
  display: block;
  margin: 0 auto;

  /* Second way to center content */
  /* display: flex; */

  /* Horizontal */
  /* justify-content: center; */

  /* Vertical */
  /* justify-items: center; */

  /* Basically LinearLayout's Orientation. Default for website is row, default for mobile is column. */
  /* flex-direction: ; */

  /* display: grid;
     place-items: center
     grid-column-template
     */
}

.sect_radio_button {
  color: rgb(186, 41, 41);
}

#title_sub {
  background-color: antiquewhite;
}

input[type="checkbox"] {
  size: 100;
}

/* 
            A
            |
       C -  D - E
            |
            H
 
    Good to create uniformity in subsections.
    To change immediate childs of A, use A>D{}...
    To change any child of A, use A H{}...
    
    Useful in nav bars.
    To change immediate siblings of D, use D+C{}...
    To change any siblings of D, use D~C{}...





    General format for webpages:
    Supernav
    Hero Section

    CSI Box Model
    Content, padding, Border, Margin
*/
